<!doctype html>
<html ng-app="webApp">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="web.js"></script>
    <link rel="stylesheet" href="web.css">
  </head>
  <body>
    <div id="title">
    	<h2>TRIVIA 2017</h2>
   	</div>
    <div ng-controller="WebController as web" id="main">
      <div id="wrapper">
      	  <table>
	      	<tr ng-repeat="user in web.users">
	      		<td class="{{user.left.absolute_class}}">{{user.left.name}}</td>
	      		<td class="{{user.left.positive_class}}">+{{user.left.positive}}</td>
	      		<td class="{{user.left.negative_class}}">-{{user.left.negative}}</td>
	      		<td>&nbsp;&nbsp;</td>
	      		<td class="{{user.right.absolute_class}}">{{user.right.name}}</td>
	      		<td class="{{user.right.positive_class}}">+{{user.right.positive}}</td>
	      		<td class="{{user.right.negative_class}}">-{{user.right.negative}}</td>
	      	</tr>
	      </table>
      </div>
    </div>
  </body>
</html>
