div#title {
	text-align: center;
}

div#main {
	position: relative;
}

table {
	border-collapse: collapse;
	padding: 0;
	margin: 0 auto;
}

tr > td.first {
	border-left: 3px solid black;
}

tr > td.last {
    border-right: 3px solid black;
}

td.first { width: 35%; }
td.middle { width: 5%; }
td.last { width: 5%; }

tr:nth-child(even) > td.first {background: #CCC}
tr:nth-child(odd) > td.first {background: #FFF}

tr:nth-child(even) > td.middle {background: #CCC}
tr:nth-child(odd) > td.middle {background: #FFF}

tr:nth-child(even) > td.last {background: #CCC}
tr:nth-child(odd) > td.last {background: #FFF}

tr:first-child > td.first {border-top: 3px solid black;}
tr:first-child > td.middle {border-top: 3px solid black;}
tr:first-child > td.last {border-top: 3px solid black;}

tr:last-child > td.first {border-bottom: 3px solid black;}
tr:last-child > td.middle {border-bottom: 3px solid black;}
tr:last-child > td.last {border-bottom: 3px solid black;}

td.best_absolute {
	color: lightgreen;
}
td.best_positive {
	color: cyan;
}
td.best_negative {
	color: red;
}
	
* {
	font-family: Verdana, sans-serif;
}

h2 {
	font-size: 70px;
}

td {
	font-size: 55px;
}